@model UserControlWeb.Models.Users

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Kullanıcı Sil</h5>
                    <form id="deleteUserForm" onsubmit="deleteUser(); return false;">
                        <div class="mb-3">
                            <label for="userIdToDelete" class="form-label">Silinecek Kullanıcının Kimliği:</label>
                            <input type="text" id="userIdToDelete" name="userIdToDelete" class="form-control" placeholder="Kullanıcı Kimliği" required>
                        </div>
                        <button type="submit" class="btn btn-danger">Kullanıcıyı Sil</button>
                    </form>
                    <div id="deleteMessage" class="mt-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- end row -->
@section scripts {


}